<div class="d-flex align-items-center justify-content-center mt-5">
    <h1>Create your sheet!</h1>
</div>

<%= form_with model: @sheet, url: sheet_path do |form| %>

<div class="mb-3 mt-3">
    <h2>Who are you?</h2>
    <%= form.text_field :name, placeholder: "Character name" %>
    <%= @name %>
</div>

<div class="mb-3 mt-3">
    <h3>What is your lineage?</h3>
    <%= form.select :race, options_for_select(["Angelo", "Ice Dwarf", "Oracle", " Mermaid", "Human", "Titan"], @race) %>
</div>

<div class="mb-3 mt-3">
    <h3>Character Level</h3>
    <%= form.select :level, options_for_select(1..20, @level) %>
</div>

<div class="mb-3 mt-3">
    <h3>Proficiency Bonus</h3>
    <%= "+#{@proficiency_bonus}" %>
</div>

<h3>Attributes</h3>

<div class="mb-3">
    <%= form.label :strength %>
    <%= form.select :strength, options_for_select(8..18, @strength) %>
    <%= "Modifier: #{@mod_strength}" %>
</div>

<div class="mb-3">
    <%= form.label :dexterity %>
    <%= form.select :dexterity, options_for_select(8..18, @dexterity) %>
    <%= "Modifier: #{@mod_dexterity}" %>
</div>


<div class="mb-3">
    <%= form.label :constitution %>
    <%= form.select :constitution, options_for_select(8..18, @constitution) %>
    <%= "Modifier: #{@mod_constitution}" %>
</div>

<div class="mb-3">
    <%= form.label :intelligence %>
    <%= form.select :intelligence, options_for_select(8..18, @intelligence) %>
    <%= "Modifier: #{@mod_intelligence}" %>
</div>

<div class="mb-3">
    <%= form.label :wisdom %>
    <%= form.select :wisdom, options_for_select(8..18, @wisdom) %>
    <%= "Modifier: #{@mod_wisdom}" %>
</div>

<div class="mb-3">
    <%= form.label :charisma %>
    <%= form.select :charisma, options_for_select(8..18, @charisma) %>
    <%= "Modifier: #{@mod_charisma}" %>
</div>

<div class="mb-5 mt-5">
    <h3>Skills</h3>
    <%= check_box_tag(:athletics) %>
    <%= label_tag(:athletics, "Athletics")%>
    <%= @athletics %><br>
    <%= check_box_tag(:acrobatics) %>
    <%= label_tag(:acrobatics, "Acrobatics")%>
    <%= @acrobatics %>
</div>

<div class="mb-3">
    <%= form.submit "Create sheet", class: "btn btn-primary" %>
</div>

<% end %>